/* CSS declarations go here */

body {
	font-family: 'Lato', sans-serif;
	color: #A1A1A1;
	font-weight:300;
	font-size:16px;
}

#left {
	float:left;
	width: 40%;
	height: 500px;
	padding-left:50px;
	overflow: auto;
}

#right {
	float:left;
	width: 50%;
	height: 500px;
	padding-right:50px;
}

#container-graph {
}

#title {
	text-align: center;
	color: #81ADC7;
	margin-bottom:40px;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	font-weight:300;
}

.form-style-5{
    font-family: Georgia, "Times New Roman", Times, serif;
}

.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 textarea,
.form-style-5 select {
	vertical-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    outline: 0;
    height: 40px;
    width:100px;
    padding: 0px 7px; 
    background-color: #EBF1F2;
    color:#8a97a0;
    -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.03) inset;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #E1E7EB;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	vertical-align: center;
    height: 48px;
    border-radius: 4px;
    color: #FFFFFF;
    background: #C3CFD6;
    font-size: 24px;
    padding: 0px 20px;
    text-align: center;
    border: 0px solid #16a085;
    -webkit-box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #B2C4CF;
}
